/* Reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cuerpo general */

body {
    background-color: white;
    color: #1e375f;
    font-family: Georgia, serif;
    padding-top: 60px;
}

/* Elementos generales */

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

p {
    font-size: 20px;
    color: #143c68;
}

/* Navbar */

#navbar {
    background-color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    margin-top: -60px;
    z-index: 1000;
}

#navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

#navbar a {
    color: rgba(49, 48, 48, 0.323);
    text-decoration: none;
}

/* Secciones en general */

section {
    padding: 10px 40px;
    scroll-margin-top: 60px;
}

/* Imagenes */

img {
    width: 300px;
    border-radius: 10px;
}

/* Introduccion */

#introduccion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    background: linear-gradient(to bottom, white, #d6eaf8)
}

#texto-intro {
    text-align: justify;
    padding-right: 50px;
}

#introduccion h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#fotos-intro {
    padding-left: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.imagen-chica {
    width: 150px;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
}

#imagen-grande {
    width: 200px;
    height: 400px;
    object-fit: cover;
    border-radius: 50px;
}

.imagen-chica:first-child{
    align-self: flex-start;
}

.imagen-chica:last-child{
    align-self: flex-end;
}

/* Especialidades */

#especialidades {
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    background: linear-gradient(to bottom, #d6eaf8, white);
    color: #143c68;
}

.especialidad {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.especialidad h3 {
    text-align: center;
}

.especialidad p {
    text-align: justify;
}

.especialidad img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: brightness(0.5);
    display: block;
    margin: 0 auto;
}

/** Agendacion */
/* Formulario */

#agendacion {
    background: linear-gradient(to bottom, white, #d6eaf8);
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
}

.requerido {
    font-size: 12px;
    color: gray;
}

#title-formulario {
    padding-bottom: 20px;
    align-self: center;
    font-weight: bold;
}

input[type= "text"], input[type="number"] , textarea {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
    width: 300px;
}

textarea{
    resize: none;
    height: 100px;
}

.opcion {
    margin-top: 10px;
}

#no-opcion {
    margin-bottom: 20px;
}

button {
    background-color: #143c68;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #143c68;
}

/* Calendario */

#calendario {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Footer */

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}